html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.banner h2 {
  font-size: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.banner p{

}

.btn-big {
  text-decoration: none;
  color: #000;
}
